body{

    
    font-style: italic; /* fonte */

    border-style: double; /* borda  */

    text-align: center; /* texto no centro */

    color: darkgoldenrod; /* cor da borda e texto */

    background-color: black; /* fundo */
}


#titulo{

    font-size: 65px; /* tamanho do titulo */

}

#corpo{


    font-size: 20px; /* tamanho da fonte do texto */
}

#hr{ /* linha entre os temas do texto */

    /* estilo da borda */
    border-top: medium dashed;
    border-bottom: medium dashed;
    overflow: visible;
    padding: 0;
    /* tamanhoo */
    height: 3px;
    /* alinhamento */
    text-align: center;

    /* cor */
    color:darkgoldenrod;

}
